<div class="my-auto">
  <%= link_to "Log in", new_member_session_path, class: "btn btn-outline-primary fw-bold px-5 mb-3" %>
  <%= link_to "Sign up", new_member_registration_path, class: "btn text-white fw-bold px-5 mb-3" %>
</div>
