<h6 class="fw-bold fs-4">Members</h6>
<% @members.each do | member | %>
<div class="d-flex rounded member-card mb-3 bg-light px-2 py-2">
  <%= gravatar(member, "av-32 mr-2 rounded-circle") %>

  <div class="d-flex flex-column">
    <h6 class="mb-0 lh-1"><%= member.name %></h6>
    <p class="fw-light mb-0 lh-1 fs-14 text-muted">Posts: <%= member.posts.count %></p>
  </div>
</div>
<% end %>
