<h6 class="fw-bold fs-4">Members</h6>
<ul class="list-group list-group-flush">
  <% @members.each do | member | %>
  <li class="list-group-item d-flex">
    <%= gravatar(member, "av-32 mr-2") %>

    <div class="d-flex flex-column">
      <h6 class="mb-0 lh-1"><%= member.name %></h6>
      <p class="mb-0 lh-1 fs-14 text-muted">Posts: <%= member.posts.count %></p>
    </div>
  </li>
  <% end %>
</ul>
