<div class="alert alert-<%= flash_class %> alert-dismissible py-2 mb-0 rounded-0 border-top-0 border-left-0 border-right-0 border-bottom border-<%= flash_class %> fade show" role="alert">
  <p class="mb-0"><%= flash[:notice] %></p>
  <p class="mb-0"><%= flash[:alert] %></p>
  <button type="button" class="btn-close p-0 mt-2 mr-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
