<div class="alert alert-<%= flash_class %> alert-dismissible mb-0 rounded-0 border-<%= flash_class %> fade show" role="alert">
  <div class="container">
    <p class="mb-0"><%= flash[:notice] %></p>
    <p class="mb-0"><%= flash[:alert] %></p>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
