<%= form_for([@post.forum, @post]) do |form| %>
  <%= form_errors %>

  <div class="col-12 mb-3">
    <%= form.text_area :body, class: "form-control", rows: 5 %>
  </div>

  <div class="col-12">
    <%= form.submit class: "btn btn-primary shadow-sm rounded-1" %>
  </div>
<% end %>
