<%= form_for [post.forum, post] do |form| %>
  <%= form_errors %>

  <div class="col-12 mb-3">
    <%= form.text_area :body, class: "form-control", rows: 4, placeholder: "What's going on...", required: true %>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <%= form.submit 'Post', class: "btn btn-primary fw-bold px-5 shadow-sm rounded-1" %>
  </div>
<% end %>
