<div class="d-flex">
  <%= gravatar_image_tag(@post.member.email, size: 32, alt: @post.member.name, class: "rounded-circle av-48") %>
  <div class="ml-3">
    <p class="mb-0 lh-1">
      <i class="text-muted">by:</i> <b><%= @post.member.name %></b> | @<%= @post.member.username %>
    </p>

    <p class="fst-italic text-muted">Posted at: <b class="text-primary"><%= @post.created_at %></b></p>
  </div>
</div>
