<div class="alert alert-<%= flash_class %> alert-dismissible position-absolute py-2 mb-0 rounded border-<%= flash_class %> fade show main-alert" role="alert">
  <p class="mb-0"><%= flash[:notice] %></p>
  <p class="mb-0"><%= flash[:alert] %></p>
  <button type="button" class="btn-close fs-16 p-0 mt-2 mr-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
